<h1>Needs</h1>
<% @student.first_name %>
<% @student.student_needs.where(state: 'pending').each do |student_need| %>
   <h4><%= link_to student_need.need.title, select_amount_path(student_need) %></h4>
 <p>
    Start Date: <%= student_need.start_date.to_formatted_s(:long) %><br/>
    End Date: <%= student_need.end_date.to_formatted_s(:long) %><br/>
    Amount Needed: $<%= student_need.need_expense %><br/>
    Total Donated: $<%= student_need.total_amount %><br/>
</p>
<%end%>
