<!DOCTYPE html>
<html>
<head>
    <title>HandUp</title>
    <meta charset="utf-8">
    <meta name="description" content="A platform for students to recieve educational funds in the form of sponsorship">
    <meta name="author" content="The Holy Trinity">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hand Up</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'https://js.stripe.com/v1/', :defaults %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <%= csrf_meta_tags %>
    <%= tag :meta, name: 'stripe-key', content: STRIPE_PUBLIC_KEY %>
    <%= analytics_init if Rails.env.production? %>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

        <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fonts  -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/simple-line-icons.css">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- Feature detection -->
    <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/vendor/html5shiv.js"></script>
    <script src="assets/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
<% if current_user == nil %>


<!--||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
          [ Navigation ]
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
          <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">HandUp</a> -->
                </div><!--end navbar-header page-scroll -->

          <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li><a class="page-scroll" href="#about">About</a></li>
                    <li><a class="page-scroll" href="#services">How It Works</a></li>
                    <li><a class="page-scroll" href="/auth/linkedin">Log In</a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
          </div><!--end container--> <!-- /.container-fluid -->
          </nav>


<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
          [ Header ]
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
          <header>
          <div class="container">
          <div class="intro-text">
              <div class="intro-lead-in">Welcome To HandUp!</div>
              <div class="intro-heading">Sponsor A Student Today</div>
              <a href="#services" class="page-scroll btn btn-xl">How it works</a>
          </div><!--end intro-text-->
          </div><!--end container-->
          </header>



<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
        [ Services Section ]
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
        <section id="about">
        <div class="container">
          <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">About</h2>
              <h3 class="section-subheading text-muted">Student Crowdfunding for College.</h3>
          </div><!--end col-lg-12 text-center-->
          </div><!-- end row -->

        <!--   <div class="row text-center">
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Sign In With Linkden</h4>
              <p class="text-muted"></p>
          </div>end col-md-4

          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-search fa-stack-1x fa-inverse"></i>              </span>
              <h4 class="service-heading">Search</h4>
              <p class="text-muted"></p>
          </div>end col-md-4

          <div class="col-md-4">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">Sponsor</h4>
              <p class="text-muted"></p>
          </div>end col-md-4
          </div>end row text-center
    </div> end container
    </section>end services -->


<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  [ ABOUT Section ]
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
    <!-- About Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                    <h3 class="section-subheading text-muted">For Students and Sponsors</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image"><span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-user fa-stack-1x fa-inverse" style="font-size: 80px;"></i></span>
                                <!-- <img class="img-circle img-responsive" src="img/about/1.jpg" alt=""> -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Sign in with Linkedin</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Both Students and Sponsors can sign into our app with Linkedin. Once you sign in you will decide whether you are a student or a sponsor. If you are a student you will fill out a short survey about yourself. If you are a sponsor you can search for students who are not sponsored yet. Student can posts the needs that they have by showing proof of the need. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"><span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-search fa-stack-1x fa-inverse" style="font-size: 80px;"></i>
                                <!-- <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""> -->
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Searching for a Student</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Once you find a student you would like to sponsor you can check out their profile and follow them. When you go to their profile and follow you can view their needs and offer challenges. Student can accept or deny a challenges and challenges are on a semester basis.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                            <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-usd fa-stack-1x fa-inverse" style="font-size: 80px;"></i>
                              </span>
                               <!--  <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Sponsor</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Once you have students that you want to sponsor you can decide to donate towards their goal for their need. Also there are four challenges: Increase GPA, Honors, Dean's List and Community Service. At the end of the semester the challenge is due and both students and sponsors have to confirm the completion.</p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-chevron-down"></i>
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                              </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Being in college is hard.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Together we can support college students to help them survive financially what could be a lifetime burden.</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><a href="/auth/linkedin" style="color:#fff;font-size:25px;text-align:center;line-height:40px; text-decoration:none;"> Lend A
                                    <br>Hand!</h4>
                                     </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>




    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Hand Up 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

<% else %>
      <!-- \\\\\\ SIGUN UP PROCESS VIEW //////// -->










    <section id="main-wrapper" class="theme-default">







        <header id="header">
                      <!--logo start-->
                      <div class="brand">
                      <a href="/" class="logo">
                      <span>HAND</span>UP</a>
                      </div>
                      <!--logo end-->

                      <ul class="nav navbar-nav navbar-left">
                      <li class="toggle-navigation toggle-left">
                      <button class="sidebar-toggle" id="toggle-left">
                      <i class="fa fa-bars"></i>
                      </button>
                      </li>

                      <li class="toggle-profile hidden-xs">
                      <button type="button" class="btn btn-default" id="toggle-profile">
                      <i class="icon-user"></i>
                      </button>
                      </li>

                      <li class="toggle-navigation toggle-left">
                      <button class="sidebar-toggle">
                      <a href="/signout"><i class="fa fa-sign-out"></i></a>
                      </button>
                      </li>
<!--
                      <li class="hidden-xs">
                      <input type="text" class="search" placeholder="Search">
                      <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
                      </button>
                      </li>
                      </ul> -->

            <!--           <ul class="nav navbar-nav navbar-right">
            <li class="toggle-navigation toggle-right">
            <button class="sidebar-toggle" id="toggle-right">
            <i class="fa fa-indent"></i>
            </button>
            </li>
            </ul> -->
        </header>
<!--||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
        [ LEFT SIDE BAR ]
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
        <aside class="sidebar sidebar-left">
                    <div class="sidebar-profile">
                        <!-- [ Profile Pic ] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <div class="avatar">
                          <% if current_user.profile_photo != nil %>
                            <img class="img-circle profile-image" src="<%= current_user.profile_photo%>" alt="profile">
                          <% else %>
                            <img class="img-circle profile-image" src="http://www.freelanceme.net/Images/default%20profile%20picture.png" alt="profile">
                          <% end %>
                        <i class="on border-dark animated bounceIn"></i>
                        </div>

                     <div class="profile-body dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><h4><%= fullname(current_user.first_name,current_user.last_name )%><span class="caret"></span></h4></a>
                        <small class="title"><%= current_user.status %></small>


                        <ul class="dropdown-menu animated fadeInRight" role="menu">
                        <!-- [ Progress BAR ] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="profile-progress">
                            <h5><span>80%</span><small>Profile complete</small></h5>
                            <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-primary" style="width: 80%"></div>
                            </div>
                        </li>

                        <li class="divider"></li>

                        <li>
                        <a href="javascript:void(0);">
                        <span class="icon"><i class="fa fa-user"></i>
                        </span>My Account</a>
                        </li>

                        <li>
                        <a href="javascript:void(0);">
                        <span class="icon"><i class="fa fa-envelope"></i>
                        </span>Messages</a>
                        </li>

                        <li>
                        <a href="javascript:void(0);">
                        <span class="icon"><i class="fa fa-cog"></i>
                        </span>Settings</a>
                        </li>

                        <li class="divider"></li>

                        <!-- [ logout ] ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li><a href="/signout">
                        <span class="icon"><i class="fa fa-sign-out"></i>
                        </span>Logout</a>
                        </li>
                        </ul><!-- end dropdown-menu animated fadeInRight-->
                    </div><!-- end profile body drop down-->
                  </div><!-- end sidebar profile-->


<!--================== [ Lower Left Sidebar Area ] ==========================-->
                <nav>
                <h5 class="sidebar-header">Navigation</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                    <a href="/users/<%=current_user.id%>" title="Dashboard">

                    <i class="fa  fa-fw fa-tachometer"></i> Dashboard
                    </a>
                    </li>
                    <!--========================================================
                     [ MENU Button ]
                    =========================================================-->

                    <% if current_user.status == 'sponsor' && current_user.sponsored_students.length >= 1 %>
                    <li class="nav-dropdown">
                      <a href="/searches/new" title="UI Elements">
                      <i class="fa  fa-fw fa-cogs"></i> Search For Student
                      </a>
                    </li> --><!-- end nav-drop down-->
                    <li class="nav-dropdown">
                      <a href="/challenges/new" title="UI Elements">
                      <i class="fa  fa-fw fa-cogs"></i> Create A Challenge
                      </a>
                    </li> --><!-- end nav-drop down-->
                    <% end %>

                    <% if current_user.status == 'student'%>
                    <li class="nav-dropdown">
                      <a href="/student_needs/new" title="UI Elements">
                      <i class="fa  fa-fw fa-cogs"></i> Create Need
                      </a>
                    </li> --><!-- end nav-drop down-->
                    <% end %>


                    <!--========================================================
                     [ FIRST DROP DOWN MENU ]
                    =========================================================-->
                    <% if current_user.status == 'student'%>
                    <li class="nav-dropdown">
                      <a href="#" title="UI Elements">
                      <i class="fa  fa-fw fa-cogs"></i> Followers
                      </a>
                          <ul class="nav-sub">


                          <% current_user.student_sponsors.each do |row|%>
                          <a href="ui-buttons.html" title="Buttons"><%= User.find(row.sponsor_id).first_name %></a>
                          <% end %>

                          </ul> -->
                    </li>  end nav-drop down-->
                    <%end%>

                    <% if current_user.status == 'sponsor'%>
                    <li class="nav-dropdown">
                      <a href="#" title="UI Elements">
                      <i class="fa  fa-fw fa-cogs"></i> Followers
                      </a>
                          <ul class="nav-sub">


                          <% current_user.sponsored_students.each do |student| %>
                          <a href="ui-buttons.html" title="Buttons"><%= link_to student.student.first_name, student_show_path(student.student)%></a>
                          <% end %>

                          </ul> -->
                    </li>  end nav-drop down-->
                    <%end%>






                    <!--========================================================
                     [ SECOND DROP DOWN MENU ]
                    =========================================================-->
                    <!-- <li class="nav-dropdown">
                      <a href="#" title="UI Elements">
                      <i class="fa  fa-fw fa-cogs"></i>Needs
                      </a>
                          <ul class="nav-sub">


                          <li>
                          <a href="ui-buttons.html" title="Buttons">All Needs</a>
                          </li>
                          <li>
                          <a href="ui-sliders-progress.html" title="Sliders &amp; Progress">Create A Need</a>
                          </li>
                          <li>
                          <a href="ui-modals-popus.html" title="Modals &amp; Popups">Modals &amp; Popups</a>
                          </li>
                          <li>
                          <a href="ui-tabs-accordions.html" title="Tabs &amp; Accordions">Tabs &amp; Accordions</a>
                          </li>
                          </ul> -->
                    <!-- </li>  end nav-drop down--> -->
                    <!-- </ul> end nav nav-pills nav-stacked"--> -->
                    </nav>
        </aside>


<!--||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
            [ MAIN CONTENT ]
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
        <!--sidebar left end-->
        <!--main content start-->
        <section class="main-content-wrapper">
            <div class="pageheader">
                <h1></h1>
                <p class="description"></p>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label"></span>
                    <ol class="breadcrumb">
                        <li class="active"></li>
                    </ol>
                </div>
            </div>
            <section id="main-content">



                <div class="row">
                        <!-- <div class="col-md-12 col-lg-12"> -->
            <!-- <div class="panel panel-default"> -->
                <div class="panel-body ng-binding">
                <%= yield %>

                <!-- </div> -->
            <!-- </div> -->
        </div>
                </div>
            </section>
        </section>
        <!--main content end-->
    </section>


<!--||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
                [ SIDEBAR RIGHT]
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
    <!--sidebar right start-->
    <aside id="sidebar-right">
        <h4 class="sidebar-title">contact List</h4>
        <div id="contact-list-wrapper">
            <div class="heading">
                <ul>
                    <li class="new-contact"><a href="javascript:void(0)"><i class="fa fa-plus"></i></a>
                    </li>
                    <li>
                        <input type="text" class="search" placeholder="Search">
                        <button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div id="contact-list">

            </div>
            <div id="contact-user">
                <div class="chat-user active"><span><i class="icon-bubble"></i></span>
                </div>
                <div class="email-user"><span><i class="icon-envelope-open"></i></span>
                </div>
                <div class="call-user"><span><i class="icon-call-out"></i></span>
                </div>
            </div>
        </div>
    </aside>
    <!--/sidebar right end-->
    <!--Global JS-->
    <script src="assets/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js">

    </script>
    <script>
    !function(a){"use strict";var b=function(b,c,d){return this.el=b,this.$el=a(b),this.options=c,this.uuid=this.$el.attr("id")?this.$el.attr("id"):d,this.state={},this.init(),this};b.prototype={init:function(){var b=this;b._load(),b.$el.find("ul").each(function(c){var d=a(this);d.attr("data-index",c),b.options.save&&b.state.hasOwnProperty(c)?(d.parent().addClass(b.options.openClass),d.show()):d.parent().hasClass(b.options.openClass)?(d.show(),b.state[c]=1):d.hide()});var c=a("<span></span>").prepend(b.options.caretHtml),d=b.$el.find("li > a");b._trigger(c,!1),b._trigger(d,!0),b.$el.find("li:has(ul) > a").prepend(c)},_trigger:function(b,c){var d=this;b.on("click",function(b){b.stopPropagation();var e=c?a(this).next():a(this).parent().next(),f=!1;if(c){var g=a(this).attr("href");f=void 0===g||""===g||"#"===g}if(e=e.length>0?e:!1,d.options.onClickBefore.call(this,b,e),!c||e&&f)b.preventDefault(),d._toggle(e,e.is(":hidden")),d._save();else if(d.options.accordion){var h=d.state=d._parents(a(this));d.$el.find("ul").filter(":visible").each(function(){var b=a(this),c=b.attr("data-index");h.hasOwnProperty(c)||d._toggle(b,!1)}),d._save()}d.options.onClickAfter.call(this,b,e)})},_toggle:function(b,c){var d=this,e=b.attr("data-index"),f=b.parent();if(d.options.onToggleBefore.call(this,b,c),c){if(f.addClass(d.options.openClass),b.slideDown(d.options.slide),d.state[e]=1,d.options.accordion){var g=d.state=d._parents(b);g[e]=d.state[e]=1,d.$el.find("ul").filter(":visible").each(function(){var b=a(this),c=b.attr("data-index");g.hasOwnProperty(c)||d._toggle(b,!1)})}}else f.removeClass(d.options.openClass),b.slideUp(d.options.slide),d.state[e]=0;d.options.onToggleAfter.call(this,b,c)},_parents:function(b,c){var d={},e=b.parent(),f=e.parents("ul");return f.each(function(){var b=a(this),e=b.attr("data-index");return e?void(d[e]=c?b:1):!1}),d},_save:function(){if(this.options.save){var b={};for(var d in this.state)1===this.state[d]&&(b[d]=1);c[this.uuid]=this.state=b,a.cookie(this.options.cookie.name,JSON.stringify(c),this.options.cookie)}},_load:function(){if(this.options.save){if(null===c){var b=a.cookie(this.options.cookie.name);c=b?JSON.parse(b):{}}this.state=c.hasOwnProperty(this.uuid)?c[this.uuid]:{}}},toggle:function(b){var c=this,d=arguments.length;if(1>=d)c.$el.find("ul").each(function(){var d=a(this);c._toggle(d,b)});else{var e,f={},g=Array.prototype.slice.call(arguments,1);d--;for(var h=0;d>h;h++){e=g[h];var i=c.$el.find('ul[data-index="'+e+'"]').first();if(i&&(f[e]=i,b)){var j=c._parents(i,!0);for(var k in j)f.hasOwnProperty(k)||(f[k]=j[k])}}for(e in f)c._toggle(f[e],b)}c._save()},destroy:function(){a.removeData(this.$el),this.$el.find("li:has(ul) > a").unbind("click"),this.$el.find("li:has(ul) > a > span").unbind("click")}},a.fn.navgoco=function(c){if("string"==typeof c&&"_"!==c.charAt(0)&&"init"!==c)var d=!0,e=Array.prototype.slice.call(arguments,1);else c=a.extend({},a.fn.navgoco.defaults,c||{}),a.cookie||(c.save=!1);return this.each(function(f){var g=a(this),h=g.data("navgoco");h||(h=new b(this,d?a.fn.navgoco.defaults:c,f),g.data("navgoco",h)),d&&h[c].apply(h,e)})};var c=null;a.fn.navgoco.defaults={caretHtml:"",accordion:!1,openClass:"open",save:!0,cookie:{name:"navgoco",expires:!1,path:"/"},slide:{duration:400,easing:"swing"},onClickBefore:a.noop,onClickAfter:a.noop,onToggleBefore:a.noop,onToggleAfter:a.noop}}(jQuery);
    </script>
    <script>
    (function(){var a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W=[].slice,X={}.hasOwnProperty,Y=function(a,b){function c(){this.constructor=a}for(var d in b)X.call(b,d)&&(a[d]=b[d]);return c.prototype=b.prototype,a.prototype=new c,a.__super__=b.prototype,a},Z=[].indexOf||function(a){for(var b=0,c=this.length;c>b;b++)if(b in this&&this[b]===a)return b;return-1};for(t={catchupTime:500,initialRate:.03,minTime:500,ghostTime:500,maxProgressPerFrame:10,easeFactor:1.25,startOnPageLoad:!0,restartOnPushState:!0,restartOnRequestAfter:500,target:"body",elements:{checkInterval:100,selectors:["body"]},eventLag:{minSamples:10,sampleCount:3,lagThreshold:3},ajax:{trackMethods:["GET"],trackWebSockets:!0,ignoreURLs:[]}},B=function(){var a;return null!=(a="undefined"!=typeof performance&&null!==performance&&"function"==typeof performance.now?performance.now():void 0)?a:+new Date},D=window.requestAnimationFrame||window.mozRequestAnimationFrame||window.webkitRequestAnimationFrame||window.msRequestAnimationFrame,s=window.cancelAnimationFrame||window.mozCancelAnimationFrame,null==D&&(D=function(a){return setTimeout(a,50)},s=function(a){return clearTimeout(a)}),F=function(a){var b,c;return b=B(),(c=function(){var d;return d=B()-b,d>=33?(b=B(),a(d,function(){return D(c)})):setTimeout(c,33-d)})()},E=function(){var a,b,c;return c=arguments[0],b=arguments[1],a=3<=arguments.length?W.call(arguments,2):[],"function"==typeof c[b]?c[b].apply(c,a):c[b]},u=function(){var a,b,c,d,e,f,g;for(b=arguments[0],d=2<=arguments.length?W.call(arguments,1):[],f=0,g=d.length;g>f;f++)if(c=d[f])for(a in c)X.call(c,a)&&(e=c[a],null!=b[a]&&"object"==typeof b[a]&&null!=e&&"object"==typeof e?u(b[a],e):b[a]=e);return b},p=function(a){var b,c,d,e,f;for(c=b=0,e=0,f=a.length;f>e;e++)d=a[e],c+=Math.abs(d),b++;return c/b},w=function(a,b){var c,d,e;if(null==a&&(a="options"),null==b&&(b=!0),e=document.querySelector("[data-pace-"+a+"]")){if(c=e.getAttribute("data-pace-"+a),!b)return c;try{return JSON.parse(c)}catch(f){return d=f,"undefined"!=typeof console&&null!==console?console.error("Error parsing inline pace options",d):void 0}}},g=function(){function a(){}return a.prototype.on=function(a,b,c,d){var e;return null==d&&(d=!1),null==this.bindings&&(this.bindings={}),null==(e=this.bindings)[a]&&(e[a]=[]),this.bindings[a].push({handler:b,ctx:c,once:d})},a.prototype.once=function(a,b,c){return this.on(a,b,c,!0)},a.prototype.off=function(a,b){var c,d,e;if(null!=(null!=(d=this.bindings)?d[a]:void 0)){if(null==b)return delete this.bindings[a];for(c=0,e=[];c<this.bindings[a].length;)e.push(this.bindings[a][c].handler===b?this.bindings[a].splice(c,1):c++);return e}},a.prototype.trigger=function(){var a,b,c,d,e,f,g,h,i;if(c=arguments[0],a=2<=arguments.length?W.call(arguments,1):[],null!=(g=this.bindings)?g[c]:void 0){for(e=0,i=[];e<this.bindings[c].length;)h=this.bindings[c][e],d=h.handler,b=h.ctx,f=h.once,d.apply(null!=b?b:this,a),i.push(f?this.bindings[c].splice(e,1):e++);return i}},a}(),null==window.Pace&&(window.Pace={}),u(Pace,g.prototype),C=Pace.options=u({},t,window.paceOptions,w()),T=["ajax","document","eventLag","elements"],P=0,R=T.length;R>P;P++)J=T[P],C[J]===!0&&(C[J]=t[J]);i=function(a){function b(){return U=b.__super__.constructor.apply(this,arguments)}return Y(b,a),b}(Error),b=function(){function a(){this.progress=0}return a.prototype.getElement=function(){var a;if(null==this.el){if(a=document.querySelector(C.target),!a)throw new i;this.el=document.createElement("div"),this.el.className="pace pace-active",document.body.className=document.body.className.replace(/pace-done/g,""),document.body.className+=" pace-running",this.el.innerHTML='<div class="pace-progress">\n  <div class="pace-progress-inner"></div>\n</div>\n<div class="pace-activity"></div>',null!=a.firstChild?a.insertBefore(this.el,a.firstChild):a.appendChild(this.el)}return this.el},a.prototype.finish=function(){var a;return a=this.getElement(),a.className=a.className.replace("pace-active",""),a.className+=" pace-inactive",document.body.className=document.body.className.replace("pace-running",""),document.body.className+=" pace-done"},a.prototype.update=function(a){return this.progress=a,this.render()},a.prototype.destroy=function(){try{this.getElement().parentNode.removeChild(this.getElement())}catch(a){i=a}return this.el=void 0},a.prototype.render=function(){var a,b;return null==document.querySelector(C.target)?!1:(a=this.getElement(),a.children[0].style.width=""+this.progress+"%",(!this.lastRenderedProgress||this.lastRenderedProgress|0!==this.progress|0)&&(a.children[0].setAttribute("data-progress-text",""+(0|this.progress)+"%"),this.progress>=100?b="99":(b=this.progress<10?"0":"",b+=0|this.progress),a.children[0].setAttribute("data-progress",""+b)),this.lastRenderedProgress=this.progress)},a.prototype.done=function(){return this.progress>=100},a}(),h=function(){function a(){this.bindings={}}return a.prototype.trigger=function(a,b){var c,d,e,f,g;if(null!=this.bindings[a]){for(f=this.bindings[a],g=[],d=0,e=f.length;e>d;d++)c=f[d],g.push(c.call(this,b));return g}},a.prototype.on=function(a,b){var c;return null==(c=this.bindings)[a]&&(c[a]=[]),this.bindings[a].push(b)},a}(),O=window.XMLHttpRequest,N=window.XDomainRequest,M=window.WebSocket,v=function(a,b){var c,d,e,f;f=[];for(d in b.prototype)try{e=b.prototype[d],f.push(null==a[d]&&"function"!=typeof e?a[d]=e:void 0)}catch(g){c=g}return f},z=[],Pace.ignore=function(){var a,b,c;return b=arguments[0],a=2<=arguments.length?W.call(arguments,1):[],z.unshift("ignore"),c=b.apply(null,a),z.shift(),c},Pace.track=function(){var a,b,c;return b=arguments[0],a=2<=arguments.length?W.call(arguments,1):[],z.unshift("track"),c=b.apply(null,a),z.shift(),c},I=function(a){var b;if(null==a&&(a="GET"),"track"===z[0])return"force";if(!z.length&&C.ajax){if("socket"===a&&C.ajax.trackWebSockets)return!0;if(b=a.toUpperCase(),Z.call(C.ajax.trackMethods,b)>=0)return!0}return!1},j=function(a){function b(){var a,c=this;b.__super__.constructor.apply(this,arguments),a=function(a){var b;return b=a.open,a.open=function(d,e){return I(d)&&c.trigger("request",{type:d,url:e,request:a}),b.apply(a,arguments)}},window.XMLHttpRequest=function(b){var c;return c=new O(b),a(c),c},v(window.XMLHttpRequest,O),null!=N&&(window.XDomainRequest=function(){var b;return b=new N,a(b),b},v(window.XDomainRequest,N)),null!=M&&C.ajax.trackWebSockets&&(window.WebSocket=function(a,b){var d;return d=null!=b?new M(a,b):new M(a),I("socket")&&c.trigger("request",{type:"socket",url:a,protocols:b,request:d}),d},v(window.WebSocket,M))}return Y(b,a),b}(h),Q=null,x=function(){return null==Q&&(Q=new j),Q},H=function(a){var b,c,d,e;for(e=C.ajax.ignoreURLs,c=0,d=e.length;d>c;c++)if(b=e[c],"string"==typeof b){if(-1!==a.indexOf(b))return!0}else if(b.test(a))return!0;return!1},x().on("request",function(b){var c,d,e,f,g;return f=b.type,e=b.request,g=b.url,H(g)?void 0:Pace.running||C.restartOnRequestAfter===!1&&"force"!==I(f)?void 0:(d=arguments,c=C.restartOnRequestAfter||0,"boolean"==typeof c&&(c=0),setTimeout(function(){var b,c,g,h,i,j;if(b="socket"===f?e.readyState<2:0<(h=e.readyState)&&4>h){for(Pace.restart(),i=Pace.sources,j=[],c=0,g=i.length;g>c;c++){if(J=i[c],J instanceof a){J.watch.apply(J,d);break}j.push(void 0)}return j}},c))}),a=function(){function a(){var a=this;this.elements=[],x().on("request",function(){return a.watch.apply(a,arguments)})}return a.prototype.watch=function(a){var b,c,d,e;return d=a.type,b=a.request,e=a.url,H(e)?void 0:(c="socket"===d?new m(b):new n(b),this.elements.push(c))},a}(),n=function(){function a(a){var b,c,d,e,f,g,h=this;if(this.progress=0,null!=window.ProgressEvent)for(c=null,a.addEventListener("progress",function(a){return h.progress=a.lengthComputable?100*a.loaded/a.total:h.progress+(100-h.progress)/2}),g=["load","abort","timeout","error"],d=0,e=g.length;e>d;d++)b=g[d],a.addEventListener(b,function(){return h.progress=100});else f=a.onreadystatechange,a.onreadystatechange=function(){var b;return 0===(b=a.readyState)||4===b?h.progress=100:3===a.readyState&&(h.progress=50),"function"==typeof f?f.apply(null,arguments):void 0}}return a}(),m=function(){function a(a){var b,c,d,e,f=this;for(this.progress=0,e=["error","open"],c=0,d=e.length;d>c;c++)b=e[c],a.addEventListener(b,function(){return f.progress=100})}return a}(),d=function(){function a(a){var b,c,d,f;for(null==a&&(a={}),this.elements=[],null==a.selectors&&(a.selectors=[]),f=a.selectors,c=0,d=f.length;d>c;c++)b=f[c],this.elements.push(new e(b))}return a}(),e=function(){function a(a){this.selector=a,this.progress=0,this.check()}return a.prototype.check=function(){var a=this;return document.querySelector(this.selector)?this.done():setTimeout(function(){return a.check()},C.elements.checkInterval)},a.prototype.done=function(){return this.progress=100},a}(),c=function(){function a(){var a,b,c=this;this.progress=null!=(b=this.states[document.readyState])?b:100,a=document.onreadystatechange,document.onreadystatechange=function(){return null!=c.states[document.readyState]&&(c.progress=c.states[document.readyState]),"function"==typeof a?a.apply(null,arguments):void 0}}return a.prototype.states={loading:0,interactive:50,complete:100},a}(),f=function(){function a(){var a,b,c,d,e,f=this;this.progress=0,a=0,e=[],d=0,c=B(),b=setInterval(function(){var g;return g=B()-c-50,c=B(),e.push(g),e.length>C.eventLag.sampleCount&&e.shift(),a=p(e),++d>=C.eventLag.minSamples&&a<C.eventLag.lagThreshold?(f.progress=100,clearInterval(b)):f.progress=100*(3/(a+3))},50)}return a}(),l=function(){function a(a){this.source=a,this.last=this.sinceLastUpdate=0,this.rate=C.initialRate,this.catchup=0,this.progress=this.lastProgress=0,null!=this.source&&(this.progress=E(this.source,"progress"))}return a.prototype.tick=function(a,b){var c;return null==b&&(b=E(this.source,"progress")),b>=100&&(this.done=!0),b===this.last?this.sinceLastUpdate+=a:(this.sinceLastUpdate&&(this.rate=(b-this.last)/this.sinceLastUpdate),this.catchup=(b-this.progress)/C.catchupTime,this.sinceLastUpdate=0,this.last=b),b>this.progress&&(this.progress+=this.catchup*a),c=1-Math.pow(this.progress/100,C.easeFactor),this.progress+=c*this.rate*a,this.progress=Math.min(this.lastProgress+C.maxProgressPerFrame,this.progress),this.progress=Math.max(0,this.progress),this.progress=Math.min(100,this.progress),this.lastProgress=this.progress,this.progress},a}(),K=null,G=null,q=null,L=null,o=null,r=null,Pace.running=!1,y=function(){return C.restartOnPushState?Pace.restart():void 0},null!=window.history.pushState&&(S=window.history.pushState,window.history.pushState=function(){return y(),S.apply(window.history,arguments)}),null!=window.history.replaceState&&(V=window.history.replaceState,window.history.replaceState=function(){return y(),V.apply(window.history,arguments)}),k={ajax:a,elements:d,document:c,eventLag:f},(A=function(){var a,c,d,e,f,g,h,i;for(Pace.sources=K=[],g=["ajax","elements","document","eventLag"],c=0,e=g.length;e>c;c++)a=g[c],C[a]!==!1&&K.push(new k[a](C[a]));for(i=null!=(h=C.extraSources)?h:[],d=0,f=i.length;f>d;d++)J=i[d],K.push(new J(C));return Pace.bar=q=new b,G=[],L=new l})(),Pace.stop=function(){return Pace.trigger("stop"),Pace.running=!1,q.destroy(),r=!0,null!=o&&("function"==typeof s&&s(o),o=null),A()},Pace.restart=function(){return Pace.trigger("restart"),Pace.stop(),Pace.start()},Pace.go=function(){var a;return Pace.running=!0,q.render(),a=B(),r=!1,o=F(function(b,c){var d,e,f,g,h,i,j,k,m,n,o,p,s,t,u,v;for(k=100-q.progress,e=o=0,f=!0,i=p=0,t=K.length;t>p;i=++p)for(J=K[i],n=null!=G[i]?G[i]:G[i]=[],h=null!=(v=J.elements)?v:[J],j=s=0,u=h.length;u>s;j=++s)g=h[j],m=null!=n[j]?n[j]:n[j]=new l(g),f&=m.done,m.done||(e++,o+=m.tick(b));return d=o/e,q.update(L.tick(b,d)),q.done()||f||r?(q.update(100),Pace.trigger("done"),setTimeout(function(){return q.finish(),Pace.running=!1,Pace.trigger("hide")},Math.max(C.ghostTime,Math.max(C.minTime-(B()-a),0)))):c()})},Pace.start=function(a){u(C,a),Pace.running=!0;try{q.render()}catch(b){i=b}return document.querySelector(".pace")?(Pace.trigger("start"),Pace.go()):setTimeout(Pace.start,50)},"function"==typeof define&&define.amd?define(function(){return Pace}):"object"==typeof exports?module.exports=Pace:C.startOnPageLoad&&Pace.start()}).call(this);
    </script>
    <script src="assets/js/src/app.js"></script>








<% end %>
</body>

</html>
